<div class="figure">
 <article>
  <header>
    <h3><%= @recipe.name %></h3>
        <%= imagem(@recipe) %>
  </header>
 
  <p><i><b>Tipo:</b></i> <%= @recipe.kind %></p>
  <p><i><b>Ingredientes:</b></i> <%= @recipe.stuff %></p>
  <p><i><b>Calorias:</b></i> <%= @recipe.calories %></p>
  <p><i><b>Modo de Preparo:</b></i> <%= @recipe.prepare_mode %></p>
  <p><i><b>Porções:</b></i> <%= @recipe.portion %></p>
  <p><i><b>Tempo de Preparo:</b></i> <%= @recipe.duration.strftime("%H:%M") %> min</p>
</article>

<div class="btn-group" role="group" aria-label="Exemplo básico">
  <button type="button" class="btn btn-secondary"><%= link_to "Voltar", root_path(@recipe), class:"btn btn-warning" %></button>

  <button type="button" class="btn btn-secondary"><%= link_to "Editar", edit_recipe_path(@recipe), class:"btn btn-warning" %></button>
  <button type="button" class="btn btn-secondary"><%= link_to "Deletar", recipe_path(@recipe), method: :delete, class:"btn btn-danger", data: {confirm: "Confirmar exclusão?"}%></button>
 <button type="button" class="btn btn-secondary"><%= link_to "Comentar", new_recipe_review_path(@recipe) %>
</div>

<h4>Comentários:</h4>
<ul class="list-group">
  <% @recipe.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>


</div>

