<div class="figure">
<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br /><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
  <br>
    <%= f.submit "Resetar" %>
  <button type="button" class="btn btn-secondary"><%= link_to "Voltar", new_user_session_path, class:"btn btn-warning" %></button>
  </div>
<% end %>

</div>