<div class="container">
<% if user_signed_in? %>
  <%= menu_group do %>
 

    <%= menu_item "Nova Receita", new_recipe_path %>
    <%= menu_item "Sair", destroy_user_session_path, method: :delete, class:"nav-link", data: {confirm: "Sair do CookNow?"} %>
  <% end %>
  
  <%= form_tag recipes_path, method: :get, class:"navbar-form navbar-right" do %>
    <%= text_field_tag :query, params[:query], class: "navbar-form", placeholder: "Encontre uma receita" %>
      <%= submit_tag "Buscar Receita", class: "btn btn-primary" %>
    <% end %>

  <% end %>
</div>
